# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
genAi/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db